.flip-book {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-size: cover;
}

.top-background, .bottom-background {
    width: 100%;
    height: 40px; /* 원하는 높이 설정 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: -1; /* 페이지 콘텐츠 뒤로 보낼 수 있도록 설정 */
}

.top-background {
    background-image: url('public/border.png');
    margin-bottom: 10px;
    margin-top: 40px; /* 위쪽 위치 조정 */
}

.bottom-background {
    background-image: url('public/border.png');
    margin-top: 10px;
    margin-bottom: 40px; /* 아래쪽 위치 조정 */
    transform: scaleY(-1); /* 상하 뒤집기 */
    position: absolute;
    bottom: 0;
}

.page {
    background-color: hsl(35, 55, 98);
    color: hsl(35, 35, 35);
    border: solid 1px hsl(35, 20, 70);

    overflow: hidden;

    .page-content {
        width: 100%;
        height: 100%;

        justify-content: center;  /* 수직 가운데 정렬 */
        align-items: center;      /* 수평 가운데 정렬 */
        font-family: 'Nanum Gothic', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
        font-size: 1.2em;
        line-height: 1.6;
        text-align: center;
        color: black;

        z-index: 1; /* 다른 요소들보다 위로 오게 설정 */
        padding-top: 50px; /* 위쪽 여백 추가 */
        padding-bottom: 50px; /* 아래쪽 여백 추가 */

        top: 0; /* 위치를 조정 */

        flex-direction: column;
    }

    &.--left { // for left page (property will be added automatically)
        border-right: 0;
        box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    }

    &.--right { // for right page (property will be added automatically)
        border-left: 0;
        box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

        .page-footer {
            text-align: right;
        }
    }

    &.hard { // for hard page
        background-color: hsl(35, 50, 90);
        border: solid 1px hsl(35, 20, 50);
    }

    &.page-cover {
        background-color: hsl(35, 45, 80);
        color:  hsl(35, 35, 35);
        border: solid 1px hsl(35, 20, 50);

        h2 {
            text-align: center;
            padding-top: 50%;
            font-size: 210%;
        }

        &.page-cover-top {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
        }

        &.page-cover-bottom {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
        }
    }
}
